.char1 img, .char2 img{
    border:3px solid black;
    border-radius:5px;
}

.char1 h1,.char2 h1{
    border: 1px black solid;
    background-color:#68663B;
    color: #eeeee4;
    display:inline-block;
    border-radius:30px;

    padding-left:20px;
    padding-right:20px;
}

.char1{

    height:370px;
    padding:10px;
}
.char1 ul{
    list-style-type:none;
}
.char1 li{
    float:left;
}
.char1 .text{
    width:60%;
}
.char1 .img{
    padding-right:0;

}

.char1 p, .char2 p{
    font-size:22px;
}
/**
**
 */

.char2{

    height:370px;
    padding-right:0;
    padding:10px;
}
.char2 ul{
    list-style-type:none;
}
.char2 li{
    float:left;
}
.char2 .text{
    padding-left:20px;
    width:60%;
}
.char2 .img{
    padding:0;
    margin:0;

}